@model MyBlog.Models.Article

@{
    ViewBag.Title = "Details";
    ViewBag.DisplayYes = "oui";
    ViewBag.DisplayNo = "En attente de validation.";
}

<h2> @Html.DisplayFor(model => model.Titre)</h2>
<small>Auteur : <em>@Html.DisplayFor(model => model.Pseudo)</em></small>
<p id="artOptions">
    @{

        if (User.Identity.IsAuthenticated && User.Identity.Name == Model.Pseudo || User.IsInRole("Admin"))
        {
            <span>@Html.ActionLink("Modifier l'article", "Edit", new { id = Model.ID })</span>
            <br />
            <span>@Html.ActionLink("Retour à la liste des articles", "List")</span>

        }
        else
        {
            <span>@Html.ActionLink("Back to List", "List")</span>
        }
    }

</p>

@section Scripts{
    <script>
    $(document).ready(function () {
        $('.btn-delete-com').click(function (event) {
            var buttonClick = $(event.target).closest('button');
            var idDelete = $(buttonClick).attr('data-id');

            $.ajax({
                url: '@Url.Action("Delete","Commentaire")',
                type: 'POST',
                data: { id: idDelete },
                success: function (data) {
                    if (data.Suppression == "OK") {
                        $(buttonClick).closest("tr").fadeOut(400, function () {
                            $(this).remove();
                        })
                    }
                }
            })
        })
    })
    </script>
}
<div>
    <hr />
    <dl class="dl-horizontal">

        
            <img src="~/Content/Upload/@Html.DisplayFor(model => model.ImageName)" alt="" class="img-responsive" />

        <dd>
            @Html.DisplayFor(model => model.Contenu)
        </dd>


        <dd>
            @Html.DisplayFor(model => model.Publication)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstPublie)
        </dt>

        <dd>
            @{
                if (Model.EstPublie == true)
                {
                    @ViewBag.DisplayYes;
                }
                else
                {
                    @ViewBag.DisplayNo;
                }
            }
        </dd>

    </dl>
    @if (User.Identity.IsAuthenticated)
    {
        { Html.RenderAction("_Create", "Commentaire", new { id = Model.ID }); }

    }
    @{Html.RenderAction("_List", "Commentaire", new { id = Model.ID }); }
</div>
