@model MyBlog.Models.Article

@{
    ViewBag.Title = "Details";
    ViewBag.DisplayYes = "Yes";
    ViewBag.DisplayNo = "No";
}

<h2>Details</h2>

<div>
    <h4>Article</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Pseudo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pseudo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Titre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contenu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contenu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageName)
        </dt>

        <dd>
            <img src="~/Content/Upload/@Html.DisplayFor(model => model.ImageName)" alt="" class="img-rounded" />
            
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Publication)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Publication)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstPublie)
        </dt>

        <dd>
            @{
                    if (Model.EstPublie == true)
                    {
                        @ViewBag.DisplayYes;
                    }
                    else
                    {
                        @ViewBag.DisplayNo;
                    }
                }
        </dd>

    </dl>
</div>
<p>
    @{ 

        if(User.Identity.IsAuthenticated && User.Identity.Name == Model.Pseudo)
        {
            @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) 
            <br />
            @Html.ActionLink("Back to List", "List");

        }
        else
        {
            @Html.ActionLink("Back to List", "List");
        }
    }
    
</p>
